//Colors :
$colorWhite: white;
$colorBlack: black;
$colorPrimary: #072E77;
$colorDarkBlue: #222B45;
$colorRed : #FF3830;
$colorRealRed : #FF0000;
$colorBorder: #222B4533;
$colorGreen: #34C85A;
$colorDarkGrey: #727E84;
$colorGrey:#A7A7A7;
$colorPrimaryGrey : #FAFAFA;
$colorPrimaryGrey:#718096;
$colorLightGrey:#E3E3E3;
$colorLightmostGrey:#ddd;
$colorChineseSilver:#ccc;
$colorLightBlue :  #F7F9FC;
$colorLightRed:#FFCCCB;
$colorOrange:Orange;
$colorSecondaryOrange: #FF4A0033;
$colorGreyishBlue: #F7F9FC;
$colorDisabled:rgba(239, 239, 239, 0.3);
$colorDisabledText: rgba(16, 16, 16, 0.3);
$colorDisabledBorder : rgba(195, 195, 195, 0.3);
$colorGoldenRod:goldenrod;
